numpy>=1.22.4,<2.0.0
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.0
langchain-huggingface
langchain-text-splitters
ragas
faiss-cpu
sentence-transformers
bitsandbytes
transformers
accelerate
rank_bm25
pandas
matplotlib
seaborn
tqdm
selenium
webdriver-manager
